<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="{{css}}">

</head>
<body>

<div class="wdgt-ads-cstm-wrap">
    <div class="wdgt-ads-cstm-title-bar">
        <div class="wdgt-ads-cstm-cont">Features of the Week</div>
    </div>
    <div class="wdgt-ads-cstm-content clearfix">
        <ul class="row-a">
            <li>
                <div class="sec-lst clearfix">
                    <div class="thumb"><a href="{{urltext1}}" target="_blank"><img src="{{imageurl1}}" alt="{{alt1}}"></a></div>
                    <div class="desc"><a href="{{urltext1}}" target="_blank">{{description1}}</a></div>
                </div>
            </li>
            <li>
                <div class="sec-lst clearfix">
                    <div class="thumb"><a href="{{urltext2}}" target="_blank"><img src="{{imageurl2}}" alt="{{alt2}}"></a></div>
                    <div class="desc"><a href="{{urltext2}}" target="_blank">{{description2}}</a></div>
                </div>
            </li>
            <li>
                <div class="sec-lst clearfix">
                    <div class="thumb"><a href="{{urltext3}}" target="_blank"><img src="{{imageurl3}}" alt="{{alt3}}"></a></div>
                    <div class="desc"><a href="{{urltext3}}" target="_blank">{{description3}}</a></div>
                </div>
            </li>
            <li>
                <div class="sec-lst clearfix">
                    <div class="thumb"><a href="{{urltext4}}" target="_blank"><img src="{{imageurl4}}" alt="{{alt4}}"></a></div>
                    <div class="desc"><a href="{{urltext4}}" target="_blank">{{description4}}</a></div>
                </div>
            </li>
            <li>
                <div class="sec-lst clearfix">
                    <div class="thumb"><a href="{{urltext5}}" target="_blank"><img src="{{imageurl5}}" alt="{{alt5}}"></a></div>
                    <div class="desc"><a href="{{urltext5}}" target="_blank">{{description5}}</a></div>
                </div>
            </li>
        </ul>
        <ul class="row-b">
            <li>
                <div class="sec-lst clearfix">
                    <div class="thumb"><a href="{{urltext6}}" target="_blank"><img src="{{imageurl6}}" alt="{{alt6}}"></a></div>
                    <div class="desc"><a href="{{urltext6}}" target="_blank">{{description6}}</a></div>
                </div>
            </li>
            <li>
                <div class="sec-lst clearfix">
                    <div class="thumb"><a href="{{urltext7}}" target="_blank"><img src="{{imageurl7}}" alt="{{alt7}}"></a></div>
                    <div class="desc"><a href="{{urltext7}}" target="_blank">{{description7}}</a></div>
                </div>
            </li>
            <li>
                <div class="sec-lst clearfix">
                    <div class="thumb"><a href="{{urltext8}}" target="_blank"><img src="{{imageurl8}}" alt="{{alt8}}"></a></div>
                    <div class="desc"><a href="{{urltext8}}" target="_blank">{{description8}}</a></div>
                </div>
            </li>
            <li>
                <div class="logo clearfix">
                    <a href="http://www.ti.com/" target="_blank"><img src="{{tilogo}}" alt=""></a>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>