<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{headline}}</title>
<link rel="stylesheet" type="text/css" href="{{css}}">
</head>
<body>
<div class="ads-cstm-wrap">
	<div class="ads-cstm-content clearfix">
		<div class="bn-col-a">
			<div class="thumb">
				<a href="{{urltext}}" target="_blank">
					<img src="{{imageurl}}" alt="{{foldername}}">
				</a>
			</div>
		</div>
		<div class="bn-col-b">
			<div class="desc">
				<h2>
					<a href="{{urltext}}" target="_blank">
						{{headline}}
					</a>
				</h2>
				<p>{{description}}</p>
			</div>
			<div class="view-more">
				<a href="{{urltext}}" target="_blank">View More Designs</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>
